<table class='table table-striped table-bordered'>
    <thead>
        <th>Name</th>
        <th>Training Error</th>
        <th>Training Predictions</th>
        <th>Generalizability Error</th>
        <th>Generalizability Predictions</th>
        <th>Test Error</th>
        <th>Test Predictions</th>
        <th>Best Error Epoch</th>
        <th>Initial Mu</th>
        <th>Mu Delta</th>
        <th>Initial Learning Rate</th>
        <th>Learning Rate Delta</th>
        <th>Initial Weight Decay</th>
        <th>Weight Decay Delta</th>
        <th>Input Dropout Probability</th>
        <th>Hidden Dropout Probability</th>
        <th>Velocity Reset</th>
        <th>Alpha</th>
        <th>Batch Size</th>
    </thead>

    <tbody>
        {{#row}}
            <tr {{#is_hidden}}class='inactive-search' hidden{{/is_hidden}}>
                <td><a href='./genome.php?id={{id}}&db={{db_name}}'>Genome {{generation_id}}</a></td>
                <td>{{best_error}}</td>
                <td>{{best_predictions}}</td>
                <td>{{generalizability_error}}</td>
                <td>{{generalizability_predictions}}</td>
                <td>{{test_error}}</td>
                <td>{{test_predictions}}</td>
                <td>{{best_error_epoch}}</td>
                <td>{{initial_mu}}</td>
                <td>{{mu_delta}}</td>
                <td>{{initial_learning_rate}}</td>
                <td>{{learning_rate_delta}}</td>
                <td>{{initial_weight_decay}}</td>
                <td>{{weight_decay_delta}}</td>
                <td>{{input_dropout_probability}}</td>
                <td>{{hidden_dropout_probability}}</td>
                <td>{{velocity_reset}}</td>
                <td>{{alpha}}</td>
                <td>{{batch_size}}</td>
            </tr>
        {{/row}}
    </tbody>
</table>
