<table class='table table-striped table-bordered'>
    <thead>
        <th>id</th>
        <th>Search Name</th>
        <th>Inserted Genomes</th>
        <th>Generated Genomes</th>
        <th>Max Genomes</th>
        <th>Max Epochs</th>
        <th>Best Error</th>
        <th>Best Predictions</th>
        <th>Test Error</th>
        <th>Test Predictions</th>
        <th>Best Error Epoch</th>
        <th>Worst Error</th>
    </thead>

    <tbody>
        {{#row}}
            <tr {{#is_hidden}}class='inactive-search' hidden{{/is_hidden}}>
                <td>{{id}}</td>
                <td>{{^is_hidden}}<b>{{/is_hidden}}<a href='./exact_search.php?id={{id}}&db={{db_name}}'>{{search_name}}</a>{{^is_hidden}}</b>{{/is_hidden}}</td>
                <td>{{inserted_genomes}}</td>
                <td>{{genomes_generated}}</td>
                <td>{{max_genomes}}</td>
                <td>{{max_epochs}}</td>
                <td>{{best_error}}</td>
                <td>{{best_predictions}}</td>
                <td>{{test_error}}</td>
                <td>{{test_predictions}}</td>
                <td>{{best_error_epoch}}</td>
                <td>{{worst_error}}</td>
            </tr>
        {{/row}}
    </tbody>
</table>
