connect_db.sh
build/*
.DS_Store
copy_binary_windows.sh
copy_binary_linux.sh
copy_binary_osx.sh
run.sh
*/__pycache__/*
__pycache__/*
__pycache__
*.pyc
visualization/plots/*
test_output/*

# Cache
*/.pytest_cache

# Environment files
.env
financial_loss_functions/exploration/.ipynb_checkpoints
sbatch_script.sh

# Dataset directories
financial_loss_functions/data/raw/2023_sp_500_select_50/
financial_loss_functions/data/raw/macro/
financial_loss_functions/data/processed/
# financial_loss_functions/scripts/generate_synthetic_data.py

# Artifacts & Results
financial_loss_functions/artifacts
financial_loss_functions/docs/docs_out/latex

# Local secrets
financial_loss_functions/data_collectors/fred_config.py
financial_loss_functions/project_structure.txt
