# Enter your details heres
FRED_KEY = "<API-KEY>" # API key from Fred API
DATA_DIR = "<Absolute-Data-Directory-Path" # example: /Users/user_name/DSCI-601/exact/financial_loss_functions/data/

RAW_DATA_DIR = "raw"
PROCESSED_DATA_DIR = "processed"